<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>9850215156-ngn8khabk37e9mo5p18a0a042qjl0sge.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.9850215156-ngn8khabk37e9mo5p18a0a042qjl0sge</string>
	<key>API_KEY</key>
	<string>AIzaSyADeq_-DGjwHfu0okt7fVw17ooh5YdDhtM</string>
	<key>GCM_SENDER_ID</key>
	<string>9850215156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>GraceGovan.FirebasePractice</string>
	<key>PROJECT_ID</key>
	<string>fir-practice-a08a9</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-practice-a08a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:9850215156:ios:c0187393de4c3cb8dc1ca1</string>
	<key>DATABASE_URL</key>
	<string>https://fir-practice-a08a9-default-rtdb.firebaseio.com</string>
</dict>
</plist>